In [35]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings("ignore")

In [36]:
df = pd.read_csv('../data/cleaned_data.csv')

df['date'] = pd.to_datetime(df['date'])
df.head()

,date,store_nbr,family,sales,onpromotion,holiday_type,locale,transferred,dcoilwtico,city,state,store_type,cluster,transactions,year,month,week,quarter,day_of_week,is_crisis,sales_lag_7,rolling_mean_7,is_weekend,is_holiday,promo_last_7_days
0,2013-01-01,1,AUTOMOTIVE,0.0,0,Holiday,National,False,93.14,Quito,Pichincha,D,13,0.0,2013,1,1,1,Tuesday,0,0.0,0.0,0,1,0.0
1,2013-01-01,1,BABY CARE,0.0,0,Holiday,National,False,93.14,Quito,Pichincha,D,13,0.0,2013,1,1,1,Tuesday,0,0.0,0.0,0,1,0.0
2,2013-01-01,1,BEAUTY,0.0,0,Holiday,National,False,93.14,Quito,Pichincha,D,13,0.0,2013,1,1,1,Tuesday,0,0.0,0.0,0,1,0.0
3,2013-01-01,1,BEVERAGES,0.0,0,Holiday,National,False,93.14,Quito,Pichincha,D,13,0.0,2013,1,1,1,Tuesday,0,0.0,0.0,0,1,0.0
4,2013-01-01,1,BOOKS,0.0,0,Holiday,National,False,93.14,Quito,Pichincha,D,13,0.0,2013,1,1,1,Tuesday,0,0.0,0.0,0,1,0.0

## üîç Question 1: How Have Total Sales Evolved Over Time?

To understand the overall business trend, we calculated the total sales per day from the dataset.

In [40]:
sales_over_time = df.groupby('date')['sales'].sum().reset_index()
sales_over_time

           date          sales
0    2013-01-01    2511.618999
1    2013-01-02  496092.417944
2    2013-01-03  361461.231124
3    2013-01-04  354459.677093
4    2013-01-05  477350.121229
...         ...            ...
1679 2017-08-11  826373.722022
1680 2017-08-12  792630.535079
1681 2017-08-13  865639.677471
1682 2017-08-14  760922.406081
1683 2017-08-15  762661.935939

[1684 rows x 2 columns]

### Key Findings:
- Daily sales range from as low as ~2.5K to over 860K in some peak days.
- There is a clear upward trend in daily revenue, with seasonal fluctuations likely present (to be analyzed in later steps).

> Corresponding plots will be in cell `to be determined` in `visualization_demo.ipynb`